@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

.animated-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.list-item {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.8s ease-in-out forwards, slideIn 0.8s ease-in-out forwards;
  margin-bottom: 10px;
  background-color: #6a5acd; /* Cor roxa */
  color: #fff; /* Texto branco */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  width: 250px;
  
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.animated-list-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Pixelify Sans', sans-serif; /* Utilizando a fonte importada para o título */
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.caixaDeTexto  {
    border: 8px solid #0D0D1A ;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;
    margin-bottom: 20px;
    height: 525px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #311c3c ;
    flex-direction: column;
    animation: fadeAnimation 0.5s ease-in-out;
    overflow-y: scroll; /* Alteração aqui: sempre mostrar a barra de rolagem */
    max-height: 550px; /* Altura máxima da caixa de texto */
    scrollbar-color: #9317B5 #000000; /* Cor da barra e do track (funciona no Firefox) */
    scrollbar-width: thin; /* Largura da barra (funciona no Firefox) */
    }
    
    .caixaDeTexto::-webkit-scrollbar {
    width: 10px;
    }
    .caixaDeTexto::-webkit-scrollbar-thumb {
    background-color: #9317B5; /* Cor da barra no WebKit */
    border-radius: 5px;
    }
    
    .caixaDeTexto::-webkit-scrollbar-track {
    background-color: #241d29; /* Cor do track no WebKit */
    }
    .titulo_lista{
        font-family: 'Pixelify Sans', sans-serif;
        margin-left: 10%;
        font-size:  30px;
        color: #8900FF;
        margin-top: 50px;
        padding-bottom: 0px;
       }
       .explicacao{
           color: white;
           font-size: 20px;
           margin-left: 9%;
           margin-right: 9%;
           margin-bottom: 50px;
           line-height: 1;
           font-family: 'Nova Square', sans-serif;
           
       }
       .explicacao p{
           margin-top: 2px;
           margin-bottom: 2px;
       }
    .page_list{
        background: linear-gradient(to bottom, #131223,#300453);
    }